<ul>
  <li>One way data binding</li>
  <ul>
    <li>interpolation</li>
    <div class="m-2 border border-dark p-3 rounded-2">
      <p> My name is {{name}} </p>
      <p> My age is {{age}} </p>
      <p>{{age+78}}</p>
    </div>

    <li>Property binding</li>
    <div>
      <input type="text" [value]="name">
    </div>

    <li>Event binding</li>
    <button class="btn btn-primary" (click)="onButtonClick()">Click</button>

    <li>Style binding</li>
    <h4 [style.color]="color">Hello</h4>
    <button class="btn btn-danger m-2" (click)="changeColor('red')">Red</button>
    <button class="btn btn-success m-2" (click)="changeColor('green')">Green</button>
    <button class="btn btn-primary m-2" (click)="changeColor('blue')">Blue</button>

  </ul>

  <hr>

  <li>Two way data binding</li>
  <ul>
    <li>ngModel</li>
    <input type="text" [(ngModel)]="name">
  </ul>
</ul>